{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Contact form</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body class="bg-light">
    <form id="idForm" class="form-group mt-5 ml-5 p-3">{% csrf_token %}
        <h2 class="ml-5 mb-4">Contact form</h2>
        <label for="idname" class="ml-5">Name</label>
        <input type="text" class="form-control ml-5 w-25 mb-3" id="idname" name="Name">
        <label for="idemail" class="ml-5">Email</label>
        <input type="email" class="form-control ml-5 w-25 mb-3" id="idemail" name="Email">
        <label for="idphone" class="ml-5">Phone</label>
        <input type="number" class="form-control ml-5 w-25 mb-3" id="idphone" name="Phone">
        <label for="descrId" class="ml-5">Description</label>
        <input type="text" class="form-control ml-5 w-25 mb-3" id="descrId" name="Description">
        <button type="submit" class="btn btn-danger ml-5 mb-3 mt-3">Submit</button>
        <button type="submit" class="btn btn-success ml-3 mb-3 mt-3">User Details</button>
    </form>
    <div>
        {% for contact in contacts %}
            {{contact.name}}
        {% endfor %}
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'contactapp/main.js' %}"></script>
    
</body>
</html>